services:
    fastapi:
        build:
            context: ./app
        container_name: fastapi
        restart: unless-stopped
        
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.my-api.rule=Host(`api.localhost`)"
            - "traefik.http.routers.my-api.entrypoints=web"
            - "traefik.http.services.my-api.loadbalancer.server.port=8000"
        networks:
            - proxy
            
networks:
    proxy:
        external: true